/* Базовые стили и сброс */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: #2a7ae2;
}

ul li {
    margin: 5px 0;
}

body.auth-page {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

html.auth-page {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body.admin-page {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

html.admin-page {
    overflow: hidden;
    height: 100vh;
}

body.modal-open {
    overflow: hidden;
}






